@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
:root {
  --main-bg-color: #243342;
  --font-color: #ecf0f1;
  --accent-color: #ecf0f1;
}
h1 {
  text-align: center;
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
}
html {
  background-color: var(--main-bg-color);
  font-family: "Lato", sans-serif;
}
.main-container {
  width: 600px;
  height: 80vh;
  margin: auto;
}
.display {
  margin: 50px 0px 40px;
  padding: 30px 20px;
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 7px solid var(--accent-color);
  color: var(--font-color);
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
  border-radius: 24px;
}
.display .input {
  height: 50%;
  width: 100%;
  flex-grow: 1;
  font-family: "Lato", sans-serif;
  font-size: 5em;
  overflow: hidden;
  text-align: end;
}
.display .result {
  height: 50%;
  width: 100%;
  flex-grow: 1;
  font-family: "Lato", sans-serif;
  font-size: 5em;
  overflow: auto;
  text-align: end;
}
.buttons {
  width: 100%;
  height: 70%;
  display: flex;
}
.input-buttons {
  width: 60%;
  display: grid;
  grid-template-columns:
    [col0] calc(100% / 3) [col1] calc(100% / 3) [col2] calc(100% / 3)
    [col3];
  grid-template-rows: [row0] 25% [row1] 25% [row2] 25% [row3] 25% [row4];
  justify-items: center;
  align-items: center;
}
.function-buttons {
  width: 40%;
  display: grid;
  grid-template-columns: [col0] 50% [col1] 50% [col2];
  grid-template-rows: [row0] 25% [row1] 25% [row2] 25% [row3] 25% [row4];
  justify-items: center;
  align-items: center;
}
#clear {
  grid-column-start: col0;
  grid-column-end: col2;
  grid-row-start: row0;
  grid-row-end: row1;
  width: 200px;
  border-radius: 12px;
}
#equals {
  grid-column-start: col0;
  grid-column-end: col2;
  grid-row-start: row3;
  grid-row-end: row4;
  width: 200px;
  border-radius: 12px;
}
#clear::before,
#equals::before {
  width: 200px;
  border-radius: 12px;
}
button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button {
  position: relative;
  text-decoration: none;
  background: var(--main-bg-color);
  color: var(--font-color);
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  transition: all 0.2s;
}
button::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 100%;
  border: 7px solid var(--accent-color);
  box-sizing: border-box;
  /* transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1); */
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}
button:hover {
  transform: scale(0.8);
  box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}
button:focus {
  outline: none;
}
/* button:hover::before {
  transform: scale(0.8);
  box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
} */
.run-animation {
  animation: shrink 0.1s;
}
@keyframes shrink {
  0% {
  }
  100% {
    transform: scale(0.8);
  }
}
.numbers::before {
  border: 7px solid #ecf0f1;
}
#backspace::before {
  border: 7px solid #ecf0f1;
}
#clear::before {
  border: 7px solid #e74c3c;
}
.operations::before {
  border: 7px solid #3498db;
}
#equals::before {
  border: 7px solid #2980b9;
}
@media screen and (max-width: 450px) {
  .main-container {
    width: 100vw;
    height: 80vh;
    margin: auto;
  }
  button {
    width: 70px;
    height: 70px;
    font-size: 2rem;
  }
  #clear,
  #equals {
    width: 140px;
  }
  #clear {
    font-size: 1.5rem;
  }
  #equals {
    font-size: 2rem;
  }
  #clear::before,
  #equals::before {
    width: 140px;
  }
  .display {
    margin: 30px auto 20px;
    padding: 30px 20px;
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 7px solid var(--accent-color);
    color: var(--font-color);
    box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
    border-radius: 24px;
  }
  .display .input {
    height: 50%;
    width: 100%;
    flex-grow: 1;
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    overflow: hidden;
    text-align: end;
  }
  .display .result {
    height: 50%;
    width: 100%;
    flex-grow: 1;
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    overflow: auto;
    text-align: end;
  }
}
